<h1 mat-dialog-title>
  <strong>Payment History</strong>
</h1>

<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table
              mat-table
              [dataSource]="paymentDataSource"
              #mytable
              class="table text-nowrap table-bordered"
              matSort
            >
              <!-- Company Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Amount
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.amount }}
                </td>
              </ng-container>

              <!-- Company subscriptionStartDateTime Column -->
              <ng-container matColumnDef="subscriptionStartDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Subscription StartDate
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.subscriptionStartDateTime
                      | date: constants.DATE_FORMAT
                  }}
                </td>
              </ng-container>

              <!-- Company subscriptionEndDateTime Column -->
              <ng-container matColumnDef="subscriptionEndDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Subscription EndDate
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.subscriptionEndDateTime
                      | date: constants.DATE_FORMAT
                  }}
                </td>
              </ng-container>

              <!-- Company FinactaUniqueId Column -->
              <ng-container matColumnDef="finactaUniqueId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Finacta Unique Id
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.finactaUniqueId }}
                </td>
              </ng-container>

              <!-- Company PaymentErrorText Column -->
              <ng-container matColumnDef="paymentErrorText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Payment Error Text
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.paymentErrorText }}
                </td>
              </ng-container>

              <!-- Company StripeSessionId Column -->
              <ng-container matColumnDef="stripeSessionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Stripe SessionId
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.stripeSessionId }}
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                  No data found.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 100]"
              aria-label="Select page of users"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="float-end">
  <button mat-button (click)="closeDialog()">Close</button>
</div>
