<app-page-header
  [title]="'Company'"
  [items]="[{ title: 'Home', link: '/' }]"
  [active_item]="'Company'"
></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card cart">
      <div class="card-body">
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </mat-form-field>
          <button
            (click)="addCompany()"
            class="float-end mt-4 add-company"
            mat-button
            mat-flat-button
            color="warn"
            *ngIf="user.userTypeId !== 1 && user.userTypeId !== 3"
          >
            Add
          </button>
        </div>

        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="companyDataSource"
            #mytable
            class="table text-nowrap table-bordered"
            matSort
          >
            <!-- Company Name Column -->
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.companyName }}
              </td>
            </ng-container>

            <!-- Xero Contact Name Column -->
            <ng-container matColumnDef="xeroContactName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Xero Contact</th>
              <td mat-cell *matCellDef="let element">
                {{ element.xeroContactName }}
              </td>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="companyNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Phone Number
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.companyNumber }}
              </td>
            </ng-container>

             <!-- Subscription Start Date -->
             <ng-container matColumnDef="SubscriptionStartDateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Subscription Start Date
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.subscriptionEndDateTime | date: constants.DATE_FORMAT }}
              </td>
            </ng-container>


            <!-- Subscription End Date -->
            <ng-container matColumnDef="SubscriptionEndDateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Subscription End Date
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.subscriptionStartDateTime  | date: constants.DATE_FORMAT}}
              </td>
            </ng-container>

            <!-- Subscription Status Column -->
            <ng-container matColumnDef="subscriptionStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.subscriptionStatus }}
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-link" >
                <button *ngIf="element.subscriptionStatus !== 'Subscribed' && user.userTypeId !== 1  && user.userTypeId !== 3" 
                  class="btn btn-success me-2"
                  (click)="subscriptionPay(element.companyId)"
                >
                  Subscribe
                </button>
                <button *ngIf="element.subscriptionStatus === 'Subscribed' && user.userTypeId !== 1  && user.userTypeId !== 3"
                  class="btn btn-danger me-2"
                  (click)="cancelSubscriptionConfirmation(element.companyId)"
                >
                  Cancel Subscription
                </button>
                <button *ngIf="element.subscriptionStatus === 'Subscribed' && user.userTypeId !== 1 && user.userTypeId !== 3"
                  class="btn btn-warning me-2"
                  (click)="getCompaySubscriptionPaymentDetails(element.companyId)"
                >
                  Payment Details
                </button>

                <button *ngIf="user.userTypeId === 1 || user.userTypeId === 3"
                  class="btn btn-primary me-2"
                  (click)="selectCompany(element.companyId)"
                >
                  Select Company
                </button>
                <button *ngIf="user.userTypeId === 1"
                  class="btn btn-primary me-2"
                  (click)="mapXeroContact(element.companyId)"
                >
                  Map Xero Company
                </button>
              </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                No data found.
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 20, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
