::ng-deep{
    body:not(.horizontal) .main-content {
        margin-top: 64px;
    }
    .main-content{
        min-height: 100vh;
    }
    .horizontal .jumps-prevent {
        padding-top: 0 !important;
    }
}
.pt-60{
    padding-top: 60px;
}
.subscription-bg {
    background-image: url("/assets/images/bg/subscription_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}