<div class="horizontalMenucontainer">
  <app-switcher></app-switcher>
  <div class="page">
    <div class="page-main">
      <!-- // header -->
      <app-header></app-header>
      <!-- //sidebar -->
      <app-sidebar></app-sidebar>
      <div class="jumps-prevent" style="padding-top: 74px;"></div>
      <div class="app-content main-content mt-0" (click)="toggleSwitcherBody()">
        <div class="side-app"  [ngClass]="{ 'pt-60': scrolled }">
          <div class="main-container container-fluid">

            <!-- // contetnt  -->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<app-tab-to-top></app-tab-to-top>