.file-management .input-group {
  justify-content: end;
}
.upload-add-folder {
  display: -webkit-inline-box;
}
.file-manger-icon {
  cursor: pointer;
}
.add-file {
  margin-right: 10px;
}
.file-name {
  cursor: pointer;
  color: #495057;
}
.add-btns {
  display: flex;

  @media (max-width: 575.98px) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.mode-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  .mode-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #495057;
    &.active-mode {
      color: var(--primary-bg-color);
    }
    &:first-of-type {
      margin-right: 10px;
    }
  }

  @media (max-width: 575.98px) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.list-file-icon {
  font-size: 1rem;
  text-align: center;
}
.search-wrap {
  align-items: center;
  input {
    height: 42px;
  }
  button {
    height: 42px;
  }
  .clear-icon {
    position: absolute;
    padding: 12px;
    font-size: 1rem;
    right: 80px;
    cursor: pointer;
    z-index: 5;
  }
}
.body-rows {
  cursor: pointer;
}
