<div class="page-header">
  <div>
    <h1 class="page-title">{{ title }}</h1>
  </div>
  <div class="ms-auto pageheader-btn">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of breadCrumb">
        <a *ngIf="item.isRouterLink" [routerLink]="[item.link]">
          {{ item.title }}</a
        >
        <a
          *ngIf="!item.isRouterLink"
          href="javascript:;"
          (click)="getData(item.link)"
        >
          {{ item.title }}</a
        >
      </li>
      <li class="breadcrumb-item active">{{ currentActiveItem }}</li>
    </ol>
  </div>
</div>

<!-- row -->
<div class="row file-management">
  <div class="col-lg-12">
    <div class="col-auto">
      <div class="input-group mb-4">
        <button
          class="btn ripple btn-primary input-group-text border-0 text-white add-file"
          (click)="addFileModal()"
          type="button"
        >
          Upload File
        </button>
        <div class="upload-add-folder">
          <a
            class="btn btn-outline-primary btn-block py-2 float-end"
            id="btnCompose"
            (click)="addFolderModal()"
            href="javascript:;"
            ><i class="fa fa-plus me-2"></i>Add Folder</a
          >
        </div>
      </div>
    </div>
    <div *ngIf="!isListView" class="row">
      <div *ngFor="let eachData of data" class="col-xl-2 col-md-4 col-sm-6">
        <div class="card p-0">
          <div class="d-flex align-items-center px-3 pt-3">
            <div class="float-end ms-auto" ngbDropdown>
              <a
                href="javascript:;"
                class="option-dots no-caret"
                ngbDropdownToggle
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fe fe-more-vertical"></i
              ></a>

              <div ngbDropdownMenu class="dropdown-menu-start folder-options">
                <a
                  *ngIf="constants.FILE_TYPE === eachData.recordType"
                  ngbDropdownItem
                  [href]="eachData.blobFilePath"
                  [download]="eachData.recordName"
                  ><i class="fe fe-download me-2"></i> Download</a
                >
                <a
                  ngbDropdownItem
                  href="javascript:;"
                  (click)="deleteConfirmation(eachData)"
                  ><i class="fe fe-trash me-2"></i> Delete</a
                >
              </div>
            </div>
          </div>
          <div class="card-body pt-0 text-center">
            <div class="file-manger-icon">
              <a
                *ngIf="eachData.recordType === constants.FOLDER_TYPE"
                (click)="getData(eachData.recordId)"
              >
                <img
                  [src]="
                    './assets/images/files/' +
                    getFileImage(eachData.recordName, eachData.recordType) +
                    '.png'
                  "
                  alt="img"
                  class="br-7"
                />
              </a>
              <a *ngIf="eachData.recordType === constants.FILE_TYPE">
                <img
                  [src]="
                    './assets/images/files/' +
                    getFileImage(eachData.recordName, eachData.recordType) +
                    '.png'
                  "
                  alt="img"
                  class="br-7"
                />
              </a>
            </div>
            <h6 class="my-1 font-weight-semibold">{{ eachData.recordName }}</h6>
            <span
              class="text-muted fs-11"
              *ngIf="eachData.recordType === constants.FILE_TYPE"
            >
              {{ eachData.fileSize }}{{ eachData.fileSizeType }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->
    <div class="row" *ngIf="isListView">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table border text-nowrap recent-files-container">
                <thead>
                  <tr class="row-first">
                    <th>File Name</th>
                    <th>Date Modified</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of data">
                    <td>
                      <div class="recent-files">
                        <img
                          class="file-image"
                          [src]="
                            './assets/images/files/' +
                            getFileImage(items.recordName, items.recordType) +
                            '.png'
                          "
                          alt="img"
                        />
                        <span
                          class="mb-1 font-weight-semibold file-name"
                          *ngIf="items.recordType === constants.FOLDER_TYPE"
                          (click)="getData(items.recordId)"
                          >{{ items.recordName }}</span
                        >
                        <span
                          class="mb-1 font-weight-semibold"
                          *ngIf="items.recordType === constants.FILE_TYPE"
                          >{{ items.recordName }}</span
                        >
                      </div>
                    </td>
                    <td>
                      <span class="text-muted modified-date">{{
                        items.createdDateTime | date: constants.DATE_FORMAT
                      }}</span>
                    </td>
                    <td>
                      <span
                        class="text-muted"
                        *ngIf="items.recordType === constants.FILE_TYPE"
                        >{{ getExt(items.fileType) }}</span
                      >
                      <span
                        class="text-muted"
                        *ngIf="items.recordType === constants.FOLDER_TYPE"
                        >Folder</span
                      >
                    </td>
                    <td>
                      <span
                        *ngIf="items.recordType === constants.FILE_TYPE"
                        class="text-muted file-size"
                        >{{ items.fileSize }}{{ items.fileSizeType }}</span
                      >
                    </td>
                    <td>
                      <div class="float-end ms-auto" ngbDropdown>
                        <a
                          href="javascript:;"
                          class="option-dots no-caret"
                          ngbDropdownToggle
                          aria-haspopup="true"
                          aria-expanded="false"
                          ><i class="fe fe-more-vertical"></i
                        ></a>
                        <div
                          ngbDropdownMenu
                          class="dropdown-menu-start recent-files-options"
                        >
                          <a
                            *ngIf="constants.FILE_TYPE === items.recordType"
                            ngbDropdownItem
                            href="javascript:;"
                            ><i class="fe fe-download me-2"></i> Download</a
                          >
                          <a ngbDropdownItem href="javascript:;"
                            ><i class="fe fe-trash me-2"></i> Delete</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Row -->
