<div class="page-header">
  <div>
    <h1 class="page-title">{{ title }}</h1>
  </div>
  <div class="ms-auto pageheader-btn">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of breadCrumb">
        <a *ngIf="item.isRouterLink" [routerLink]="[item.link]">
          {{ item.title }}</a>
        <a *ngIf="!item.isRouterLink" href="javascript:;" (click)="getData(item.link)">
          {{ item.title }}</a>
      </li>
      <li class="breadcrumb-item active">{{ currentActiveItem }}</li>
    </ol>
  </div>
</div>

<!-- row -->
<div class="row file-management">
  <div class="col-lg-12">
    <div class="row mb-4">
      <div class="col-lg-5 col-xs-12 btn-file-management-action">
        <div>
          <button class="btn btn-primary me-2 mb-2" (click)="addFileModal()" type="button">
            Upload File
          </button>
          <div class="upload-add-folder">
            <a class="btn btn-outline-primary me-2 mb-2" id="btnCompose" (click)="addFolderModal()"
              href="javascript:;"><i class="fa fa-plus me-2"></i>Add Folder</a>
          </div>
          <button class="btn btn-secondary me-2 copy-customer mb-2" (click)="copyToCustomerModal()" type="button"
            *ngIf="user.userTypeId === constants.MASTER_USER_TYPE">
            Copy To Customer
          </button>
        </div>
      </div>
      <div class="col-xs-12 justify-content-center mode-icons col-lg-2">
        <span class="mode-icon fa fa-list" [ngClass]="{ 'active-mode': isListView }" ngbTooltip="List View"
          (click)="changeView(true)"></span>
        <span class="mode-icon fa fa-folder" [ngClass]="{ 'active-mode': !isListView }" ngbTooltip="Folder View"
          (click)="changeView(false)"></span>
      </div>
      <div class="col-xs-12 col-lg-5">
        <div class="form-group mb-0">
          <div class="input-group search-wrap">
            <input type="text" class="form-control" placeholder="Search files..." [(ngModel)]="searchStr" />
            <i class="fa fa-close clear-icon" (click)="clearSearch()" *ngIf="searchStr"></i>
            <button class="input-group-text btn btn-primary text-white" (click)="search()">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="!data || !data.length">
      <h5 class="text-center" *ngIf="!searched">This folder is empty</h5>
      <h5 class="text-center" *ngIf="searched">No results found</h5>
    </div>
    <ng-container *ngIf="data && data.length">
      <!-- row -->
      <div *ngIf="!isListView" class="row">
        <div *ngFor="let eachData of data" class="col-xl-2 col-md-4 col-sm-6">
          <div class="card p-0">
            <div class="d-flex align-items-center px-3 pt-3">
              <div class="float-end ms-auto" ngbDropdown>
                <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle aria-haspopup="true"
                  aria-expanded="false"><i class="fe fe-more-vertical"></i></a>

                <div ngbDropdownMenu class="dropdown-menu-start folder-options">
                  <a *ngIf="constants.FILE_TYPE === eachData.recordType" ngbDropdownItem [href]="eachData.blobFilePath"
                    [download]="eachData.recordName"><i class="fe fe-download me-2"></i> Download</a>
                  <a *ngIf="
                      constants.FILE_TYPE === eachData.recordType &&
                      constants.DOCUMENT_STATUS_APPROVED !== eachData.documentStatus" href="javascript:;"
                    ngbDropdownItem (click)="approveDoc(eachData)"><i class="fe fe-check me-2"></i> Approve</a>
                  <a ngbDropdownItem href="javascript:;" (click)="deleteConfirmation(eachData)"><i
                      class="fe fe-trash me-2"></i> Delete</a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 text-center">
              <div class="file-manger-icon">
                <a *ngIf="eachData.recordType === constants.FOLDER_TYPE" (click)="getData(eachData.recordId)">
                  <img [src]="
                      './assets/images/files/' +
                      getFileImage(eachData.recordName, eachData.recordType) +
                      '.png'
                    " alt="img" class="br-7" />
                </a>
                <a *ngIf="eachData.recordType === constants.FILE_TYPE" (click)="openPreview(eachData)">
                  <img [src]="
                      './assets/images/files/' +
                      getFileImage(eachData.recordName, eachData.recordType) +
                      '.png'
                    " alt="img" class="br-7" />
                </a>
              </div>
              <h6 class="my-1 font-weight-semibold">
                {{ eachData.recordName }}
              </h6>
              <span class="text-muted fs-11" *ngIf="eachData.recordType === constants.FILE_TYPE">
                {{ eachData.fileSize }}{{ eachData.fileSizeType }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Row -->

      <!-- row -->
      <div class="row" *ngIf="isListView">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body" *ngIf="data.length">
              <div class="table-responsive">
                <table class="table border text-nowrap recent-files-container">
                  <thead>
                    <tr class="row-first">
                      <th>File Name</th>
                      <th>Date Modified</th>
                      <th>Type</th>
                      <th>Size</th>
                      <th>Document Type</th>
                      <th>Uploaded by</th>
                      <th>Approved by</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eachData of data" class="body-rows">
                      <td (click)="rowClick(eachData)">
                        <div class="recent-files">
                          <img *ngIf="
                              eachData.recordType === constants.FOLDER_TYPE
                            " class="me-2 w-icn" [src]="
                              './assets/images/files/' +
                              getFileImage(
                                eachData.recordName,
                                eachData.recordType
                              ) +
                              '.png'
                            " alt="img" />
                          <i *ngIf="eachData.recordType === constants.FILE_TYPE" class="fa me-2 w-icn list-file-icon"
                            [ngClass]="
                              'fa-file-' +
                              getFileImage(
                                eachData.recordName,
                                eachData.recordType
                              )
                            "></i>
                          <span class="mb-1 file-name" *ngIf="
                              eachData.recordType === constants.FOLDER_TYPE
                            ">{{ eachData.recordName }}</span>
                          <a class="mb-1 file-name" *ngIf="eachData.recordType === constants.FILE_TYPE">{{
                            eachData.recordName }}</a>
                        </div>
                      </td>
                      <td (click)="rowClick(eachData)">
                        <span class="text-muted modified-date">{{
                          eachData.createdDateTime === constants.INVALID_DATE
                          ? ""
                          : (element.createdDateTime | date: constants.DATE_FORMAT)
                          }}</span>
                      </td>
                      <td (click)="rowClick(eachData)">
                        <span class="text-muted" *ngIf="eachData.recordType === constants.FILE_TYPE">{{
                          getExt(eachData.fileType) }}</span>
                        <span class="text-muted" *ngIf="eachData.recordType === constants.FOLDER_TYPE">Folder</span>
                      </td>
                      <td (click)="rowClick(eachData)">
                        <span *ngIf="eachData.recordType === constants.FILE_TYPE" class="text-muted file-size">{{
                          eachData.fileSize
                          }}{{ eachData.fileSizeType }}</span>
                      </td>
                      <td (click)="rowClick(eachData)">
                        <span *ngIf="eachData.recordType === constants.FILE_TYPE" class="text-muted file-size">{{
                          eachData.documentStatus }}</span>
                      </td>
                      <td (click)="rowClick(eachData)">
                        <span class="text-muted file-size">
                          {{eachData.createdBy}}
                        </span>
                      </td>
                      <td>
                        <span class="text-muted file-size">
                          {{eachData.approvedBy}}
                        </span>
                      </td>
                      <td>
                        <div class="float-end ms-auto" ngbDropdown container="body">
                          <a href="javascript:;" class="option-dots no-caret" ngbDropdownToggle aria-haspopup="true"
                            aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                          <div ngbDropdownMenu class="dropdown-menu-start recent-files-options">
                            <a *ngIf="
                                constants.FILE_TYPE === eachData.recordType
                              " ngbDropdownItem [href]="eachData.blobFilePath" [download]="eachData.recordName"><i
                                class="fe fe-download me-2"></i> Download</a>
                            <a *ngIf="
                                constants.FILE_TYPE === eachData.recordType &&
                                constants.DOCUMENT_STATUS_APPROVED !==
                                  eachData.documentStatus && eachData.documentStatus == 'Requires Approval'
                                  && !eachData.approvedBy
                              " href="javascript:;" ngbDropdownItem (click)="approveDoc(eachData)"><i
                                class="fe fe-check me-2"></i> Approve</a>
                            <a ngbDropdownItem href="javascript:;" (click)="deleteConfirmation(eachData)"><i
                                class="fe fe-trash me-2"></i> Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </ng-container>
  </div>
</div>
<!-- End Row -->