.file-management .input-group {
  justify-content: end;
}
.upload-add-folder {
  display: -webkit-inline-box;
}
.file-manger-icon {
  cursor: pointer;
}
.file-name {
  cursor: pointer;
  color: #495057;
}
.copy-customer {
  font-size: 13px;
}
.add-btns {
  display: flex;
  justify-content: space-between;
  height: 42px;

  @media (max-width: 991.98px) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.btn-file-management-action {
  display: flex;
  justify-content: space-between;

  @media (max-width: 991.98px) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.mode-icons {
  display: flex;
  align-items: center;
  .mode-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #495057;
    &.active-mode {
      color: var(--primary-bg-color);
    }
    &:first-of-type {
      margin-right: 10px;
    }
  }

  @media (max-width: 991.98px) {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.list-file-icon {
  font-size: 1rem;
  text-align: center;
}
.search-wrap {
  align-items: center;
  input {
    height: 42px;
  }
  button {
    height: 42px;
  }
  .clear-icon {
    position: absolute;
    padding: 12px;
    font-size: 1rem;
    right: 80px;
    cursor: pointer;
    z-index: 5;
  }
}
.body-rows {
  cursor: pointer;
}
.mat-column-recordName {
  cursor: pointer;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.count {
  float: right;
  padding: 2px 2px;
  line-height: 15px;
  text-align: center;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 500;
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: var(--primary-bg-color);
}
.co-icon {
  text-align: end;
  float: right;
  margin-top: 5px;
  width: 8px;
  height: 8px;
}
