<!-- PAGE -->
<div class="page">
  <div>
    <!-- CONTAINER OPEN -->
    <div class="col col-login mx-auto text-center">
      <a routerLink="/" class="text-center">
        <img src="./assets/images/brand/logo.png" class="header-brand-img" alt="">
      </a>
    </div>
    <div class="col-12 container-login100">
      <div class="row">
        <div class="col col-login mx-auto">
          <form class="card shadow-none" [formGroup]="forgotForm">
            <div class="card-body">
              <div class="text-center">
                <span class="login100-form-title"> Forgot Password </span>
                <p class="text-muted">
                  Enter the email address registered on your account
                </p>
              </div>
              <div class="pt-3" id="forgot">
                <div class="form-group">
                  <label class="form-label" for="eMail">E-Mail:</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    placeholder="Enter Your Email"
                    type="email"
                  />
                  <div
                    *ngIf="hasError('email', 'required')"
                    class="text text-danger mt-1"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="hasError('email', 'email')"
                    class="text text-danger mt-1"
                  >
                    Invalid Email
                  </div>
                </div>
                <div class="submit">
                  <button
                    [disabled]="!forgotForm.valid"
                    (click)="submit()"
                    class="btn btn-primary d-grid"
                  >
                    Submit
                  </button>
                </div>
                <div class="text-center mt-4">
                  <p class="text-dark mb-0">
                    Remember It?<a
                      class="text-primary ms-1"
                      routerLink="/auth/login"
                      >Send me Back</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- CONTAINER CLOSED -->
  </div>
</div>
<!--END PAGE -->
