@media screen and (max-width: 380px) {
  .invite-user {
    margin-bottom: 10px;
  }
}
.fa.fa-envelope {
  color: var(--primary-bg-color);
}

.fa.fa-check {
  color: green;
}

.cdk-column-invitationStatusName {
  text-align: center;
}

.iconactiveinactive {
  font-size: 35px !important;
}
