<app-page-header
  [title]="'Company Users'"
  [items]="[{ title: 'Home', link: '/' }]"
  [active_item]="'Company Users'"
></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. Mia"
              #input
            />
          </mat-form-field>
          <button
            class="float-end mt-4 invite-user"
            mat-button
            (click)="openDialog()"
            mat-flat-button
            color="warn"
          >
            Invite User
          </button>
        </div>

        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="companyUserDataSource"
            #mytable
            class="table text-nowrap table-bordered"
            matSort
          >
            <!-- photo Column -->
            <ng-container matColumnDef="photo">
              <th mat-header-cell *matHeaderCellDef>Photo</th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <div
                  class="avatar avatar-md rounded-circle"
                  *ngIf="element.profilePhoto; else else_block"
                >
                  <img
                    alt="avatar"
                    class="rounded-circle"
                    [src]="element.profilePhoto"
                  />
                </div>
                <ng-template #else_block>
                  <div class="avatar avatar-md rounded-circle">
                    <img
                      alt="avatar"
                      class="rounded-circle"
                      src="./assets/images/faces/default-profile-icon.jpg"
                    />
                  </div>
                </ng-template>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.firstName }} {{ element.lastName }}
              </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="emailId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element">
                {{ element.emailId }}
              </td>
            </ng-container>

            <!-- Phone Number Column -->
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Phone Number
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.phoneNumber }}
              </td>
            </ng-container>

            <!-- Last Login Column -->
            <ng-container matColumnDef="lastLoginDateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Last Login
              </th>
              <td mat-cell class="text-center" *matCellDef="let element">
                {{ element.lastLoginDateTime | date: "MM/dd/yyyy" }}
              </td>
            </ng-container>

            <!-- Joined Date Column -->
            <ng-container matColumnDef="joinedDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Joined Date
              </th>
              <td mat-cell class="text-center" mat-cell *matCellDef="let element">
                {{ element.joinedDate | date: "MM/dd/yyyy" }}
              </td>
            </ng-container>

            <!-- Invitation Status Column -->
            <ng-container matColumnDef="invitationStatusName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Invitation Status
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{ element.invitationStatusName }} -->
                <i class="fa fa-envelope" ngbTooltip="Invitation Sent" *ngIf="element.invitationStatusId == 0"></i>
                <i class="fa fa-check" ngbTooltip="Invitation Accepted" *ngIf="element.invitationStatusId == 1"></i>
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <!-- <button class="btn btn-primary me-2">Edit</button> -->
                <button *ngIf="element.invitationStatusId !== 1"
                  class="btn btn-warning me-2"
                  (click)="reSendInvite(element.userId)"
                >
                  Resent Invitation
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteUserModal(element.userId)"
                >
                  Delete
                </button>
              </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                No data found.
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
