@media (min-width: 992px) {
  .card-height {
    height: 63vh;
  }
  ::ng-deep {
    .chat-main-content {
      min-height: unset;
      max-height: 75vh;
    }
  }
  .main-chat-list{
  height:100% !important;
  }
}
@media (max-width: 992px) {
  .content-inner{
    height: 45vh;
  }
}
.search-wrap {
  align-items: center;
  input {
    height: 35px;
  }
  button {
    height: 35px;
  }
  .clear-icon {
    position: absolute;
    padding: 12px;
    font-size: 1rem;
    right: 35px;
    cursor: pointer;
    z-index: 5;
  }
}
.search-wrap-user {
  align-items: center;
  input {
    height: 33px;
  }
  .clear-user-icon {
    position: absolute;
    padding: 12px;
    font-size: 1rem;
    right: 0px;
    cursor: pointer;
    z-index: 5;
  }
}
.searched-user {
  align-self: center;
  display: flex;
  justify-content: space-between;
  .media-contact-name span {
    font-size: 14px !important;
  }
}
.attachment-wrapper {
  display: flex;
  .attachment-image {
    align-self: center;
  }
}
