<div class="row row-deck">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
    <div class="card card-height">
      <div class="main-content-chat-app pt-0">
        <div class="main-content-body main-content-body-chat h-100">
          <div class="main-chat-header pt-3 d-block d-sm-flex">
            <div class="main-img-user online">
              <img
                *ngIf="chatDetailUser.profilePhoto"
                [src]="chatDetailUser.profilePhoto"
                alt="profile-user"
              />
              <img
                *ngIf="!chatDetailUser.profilePhoto"
                src="./assets/images/faces/default-profile-icon.jpg"
                alt="profile-user"
              />
            </div>
            <div class="main-chat-msg-name mt-2">
              <p class="mb-0">{{ chatDetailUser.name }}</p>
            </div>
            <nav class="nav">
              <div>
                <div class="input-group search-wrap">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="chatSearch"
                    placeholder="Search"
                  />
                  <i
                    class="fa fa-close clear-icon"
                    (click)="clearChatSearch()"
                    *ngIf="chatSearch"
                  ></i>
                  <button
                    class="btn ripple btn-primary input-group-text text-white border-0"
                    type="button"
                    (click)="searchInChat()"
                  >
                    <i class="fe fe-search"></i>
                  </button>
                </div>
              </div>
            </nav>
          </div>
          <!-- main-chat-header -->
          <div class="main-chat-body flex-2" id="ChatBody">
            <perfect-scrollbar>
              <div class="content-inner">
                <!-- <label class="main-chat-time"><span>2 days ago</span></label> -->
                <ng-container
                  *ngFor="let eachChat of chatDetail; let i = index"
                >
                  <p
                    inViewport
                    [inViewportOptions]="{ threshold: [0] }"
                    (inViewportAction)="onIntersection($event, eachChat.chatId)"
                    *ngIf="i === 0 && chatDetail.length >= 50"
                  ></p>
                  <p id="latestMsg" *ngIf="i === chatDetail.length - 1"></p>
                  <div
                    *ngIf="eachChat.messageDirection === 'FromMe'"
                    class="media flex-row-reverse chat-right"
                  >
                    <div class="main-img-user online">
                      <img
                        *ngIf="user.profilePhoto"
                        [src]="user.profilePhoto"
                        alt="profile-user"
                      />
                      <img
                        *ngIf="!user.profilePhoto"
                        src="./assets/images/faces/default-profile-icon.jpg"
                        alt="profile-user"
                      />
                    </div>
                    <div class="media-body">
                      <div
                        class="main-msg-wrapper"
                        *ngIf="!eachChat.attachmentName"
                      >
                        {{ eachChat.chatText }}
                      </div>
                      <div
                        class="main-msg-wrapper"
                        *ngIf="eachChat.attachmentName"
                      >
                        <span class="text-dark attachment-wrapper"
                          ><span class="attachment-image"
                            ><i
                              class="fa fa-image fs-14 text-muted px-3"
                            ></i></span
                          ><span class="fs-14 mt-1">
                            {{ eachChat.attachmentName }}
                          </span>
                          <a
                            *ngIf="eachChat.blobFilePath"
                            ngbDropdownItem
                            [href]="eachChat.blobFilePath"
                            [download]="eachChat.attachmentName"
                            ><i
                              class="fe fe-download mt-3 ms-4 text-muted pe-2"
                            ></i
                          ></a>
                        </span>
                      </div>
                      <div>
                        <span>{{
                          eachChat.sentDateTime | date: "h:mm a"
                        }}</span>
                        <a href="javascript:void(0)"
                          ><i class="icon ion-android-more-vertical"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="eachChat.messageDirection === 'ToMe'"
                    class="media chat-left"
                  >
                    <div class="main-img-user online">
                      <img
                        *ngIf="chatDetailUser.profilePhoto"
                        [src]="chatDetailUser.profilePhoto"
                        alt="profile-user"
                      />
                      <img
                        *ngIf="!chatDetailUser.profilePhoto"
                        src="./assets/images/faces/default-profile-icon.jpg"
                        alt="profile-user"
                      />
                    </div>
                    <div class="media-body">
                      <div class="main-msg-wrapper">
                        {{ eachChat.chatText }}
                      </div>
                      <div>
                        <span>{{
                          eachChat.sentDateTime | date: "h:mm a"
                        }}</span>
                        <a href="javascript:void(0)"
                          ><i class="icon ion-android-more-vertical"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="main-chat-footer pt-5">
            <input
              class="form-control"
              placeholder="Type your message here..."
              type="text"
              [(ngModel)]="message"
            />
            <a
              class="nav-link"
              data-bs-toggle="tooltip"
              href="javascript:void(0)"
              title="Attach a File"
              (click)="addAttachment()"
              ><i class="fe fe-paperclip"></i
            ></a>
            <button
              type="button"
              class="btn btn-icon btn-primary brround"
              (click)="addChat()"
            >
              <i class="fa fa-paper-plane-o"></i>
            </button>
            <nav class="nav"></nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
    <div class="card card-height overflow-scroll">
      <div class="main-content-chat-app pt-0">
        <div class="main-content-left main-content-left-chat">
          <!-- main-chat-header -->
          <div class="card-body overflow-scroll">
            <div class="input-group mb-2 search-wrap-user">
              <input
                type="text"
                [(ngModel)]="searchUserStr"
                class="form-control"
                placeholder="Search ..."
              />
              <i
                class="fa fa-close clear-user-icon"
                (click)="clearUserSearch()"
                *ngIf="searchUserStr"
              ></i>
              <span
                class="input-group-text btn btn-primary text-white"
                (click)="searchUser()"
                >Search</span
              >
            </div>
          </div>
          <div
            *ngIf="(!searchedUser || !searchedUser.length) && !isSearchedUser"
            class="main-chat-list tab-pane"
          >
            <a
              *ngIf="
                !activeUser || !activeUser.length || activeUser.length === 0
              "
              class="media new"
              href="javascript:;"
            >
              No results found
            </a>
            <a
              *ngFor="let eachUser of activeUser"
              class="media"
              [ngClass]="{
                selected: chatDetailUser.userId === eachUser.userId
              }"
              href="javascript:;"
              (click)="getChat(eachUser, 0, true)"
            >
              <div class="avatar avatar-md brround bg-secondary-transparent">
                <span *ngIf="eachUser.unReadCount > 0" _ngcontent-eup-c279="">{{
                  eachUser.unReadCount
                }}</span>
                <i
                  *ngIf="!eachUser.profilePhoto"
                  class="fe fe-user text-secondary"
                ></i>
                <img
                  *ngIf="eachUser.profilePhoto"
                  alt=""
                  [src]="eachUser.profilePhoto"
                />
              </div>
              <div class="media-body">
                <div class="media-contact-name">
                  <span>{{ eachUser.name }}</span>
                  <span>{{ eachUser.lastMessageSentDateTime | dateAgo }}</span>
                </div>
                <p>{{eachUser.lastMessageText}}</p>
              </div>
            </a>
          </div>
          <div
            *ngIf="!!isSearchedUser || (!!searchedUser && searchedUser.length)"
            class="main-chat-list tab-pane"
          >
            <a
              *ngIf="
                !searchedUser ||
                !searchedUser.length ||
                searchedUser.length === 0
              "
              class="media new"
              href="javascript:;"
            >
              No results found
            </a>
            <a
              *ngFor="let eachUser of searchedUser"
              class="media new"
              href="javascript:;"
            >
              <div class="avatar avatar-md brround bg-secondary-transparent">
                <i
                  *ngIf="!eachUser.profilePhoto"
                  class="fe fe-user text-secondary"
                ></i>
                <img
                  *ngIf="eachUser.profilePhoto"
                  alt=""
                  [src]="eachUser.profilePhoto"
                />
              </div>
              <div class="media-body searched-user">
                <div class="media-contact-name">
                  <span>{{ eachUser.name }}</span>
                </div>
                <div>
                  <span
                    class="input-group-text btn btn-primary text-white"
                    (click)="addUser(eachUser.userId)"
                    >Chat</span
                  >
                </div>
              </div>
            </a>
          </div>
          <!-- main-chat-list -->
        </div>
      </div>
    </div>
  </div>
</div>
