<app-page-header
  [title]="'Blog'"
  [items]="[{ title: 'Home', link: '/' }]"
  [active_item]="'Blog'"
></app-page-header>

<!-- row -->
<div class="row">
  <div class="col-xl-8 col-lg-7 col-md-12">
    <table mat-table [dataSource]="blogDataSource" class="blog-table w-100">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Detail</th>
        <td mat-cell *matCellDef="let eachBlog" class="p-0">
          <div class="card overflow-hidden">
            <a
              *ngIf="eachBlog.blogImageName"
              (click)="readMore(eachBlog)"
              class="card custom-card blog-image mb-0"
              [ngStyle]="{
                'background-image': 'url(' + eachBlog.blogImageName + ')'
              }"
            ></a>
            <div class="card-body">
              <a href="javascript:void(0)" class="text-dark blog-title">{{
                eachBlog.blogTitle
              }}</a>
              <p class="mb-0 text-muted mt-4">
                {{ eachBlog.blogShortContents }}
              </p>
              <a
                (click)="readMore(eachBlog)"
                class="btn btn-outline-primary mt-2"
                >Read More</a
              >
            </div>
            <div class="card-footer">
              <div class="d-f-ai-c">
                <div class="avatar-list indicators">
                  <a
                    href="javascript:void(0)"
                    class="avatar avatar-md rounded-circle"
                    ><img
                      class="avatar avatar-md rounded-circle cover-image"
                      *ngIf="eachBlog.profilePhoto"
                      [src]="eachBlog.profilePhoto" />
                    <img
                      class="avatar avatar-md rounded-circle cover-image"
                      *ngIf="!eachBlog.profilePhoto"
                      src="./assets/images/faces/default-profile-icon.jpg"
                  /></a>
                </div>
                <h6 class="mb-0 text-muted ms-2 mt-sm-0 mt-2">
                  {{ eachBlog.createdByUserName }}
                </h6>
                <div class="d-sm-flex ms-auto">
                  <a href="javascript:void(0)" class="d-flex me-3"
                    ><span
                      class="fe fe-calendar text-muted me-2 text-17"
                    ></span>
                    <div class="mt-0 mt-0 text-muted">
                      {{
                        eachBlog.publishedDateTime | date: constants.DATE_FORMAT
                      }}
                    </div></a
                  >
                  <a class="me-0 d-flex" href="javascript:void(0)"
                    ><span
                      class="fe fe-message-square text-muted me-2 text-17"
                    ></span>
                    <div class="mt-0 mt-0 text-muted">
                      {{ eachBlog.blogCommentCount }}
                      {{
                        eachBlog.blogCommentCount > 1 ? "Comments" : "Comment"
                      }}
                    </div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-12">
    <!--card-->
    <app-blog-sidebar></app-blog-sidebar>
    <!--card closed-->
  </div>
</div>
