<div class="card overflow-hidden">
  <div class="card-header border-bottom">
    <h3 class="card-title">Categories</h3>
  </div>
  <div class="card-body p-0">
    <ul class="list-group blog-topics">
      <li class="list-group-item" (click)="getAllPublishedBlogs()">
        <a class="text-dark-light"
          ><i class="fe fe-chevron-right me-2"></i>All</a
        >
      </li>
      <li
        *ngFor="let eachCategory of categories"
        (click)="getAllPublishedBlogs(eachCategory)"
        class="list-group-item"
      >
        <a class="text-dark-light"
          ><i class="fe fe-chevron-right me-2"></i
          >{{ eachCategory.categoryName }}</a
        ><span class="tag float-end">{{ eachCategory.blogCount }}</span>
      </li>
    </ul>
  </div>
</div>
