.button-wrap {
  align-self: self-end;
  .button-div {
    padding-bottom: 5px;
    .submit-button {
      margin-left: 10px;
    }
  }
}
.form-control:focus {
  border-color: #eaedf1 !important;
}

.btn-w-14 {
  width: 140px !important;
}
