<app-page-header
  [title]="'Settings'"
  [items]="[{ title: 'Home', link: '/' }]"
  [active_item]="'Settings'"
></app-page-header>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Sync xero Customer</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-primary btn-w-xs" href="{{ xerocontactULR }}"
              >Sync Xero Customers</a
            >
            <!-- <button type="button" class="btn btn-primary btn-w-xs" (click)="SyncXeroCustomer()"  ></button> -->
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-success btn-w-md"
              (click)="ViewAllXeroCustomers()"
            >
              View All Xero Customers
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Sync xero Invoice</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-primary btn-w-xs"
              (click)="ShowMappedCompany()"
            >
              Sync Xero Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header border-bottom">
        <h3 class="card-title">Set Logo</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-horizontal">
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="form-group">
                  <label for="formFile" class="form-label">Collapse Logo</label>
                  <input
                    class="form-control file-input"
                    type="file"
                    id="formFile"
                    name="collapseFile"
                    (change)="collapseLogoChange($event)"
                  />
                </div>
                <div *ngIf="collapseFileErr" class="text text-danger mt-1">
                  {{ collapseFileErr }}
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 button-wrap">
                <div class="form-group button-div">
                  <button
                    class="btn btn-primary"
                    (click)="viewLogo(user.collapseLogo)"
                  >
                    View
                  </button>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="form-group">
                  <label for="formFile" class="form-label">Expand Logo</label>
                  <input
                    class="form-control file-input"
                    type="file"
                    id="formFile"
                    name="expandFile"
                    (change)="expandLogoChange($event)"
                  />
                </div>
                <div *ngIf="expandFileErr" class="text text-danger mt-1">
                  {{ expandFileErr }}
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 button-wrap">
                <div class="form-group button-div">
                  <button
                    class="btn btn-primary"
                    (click)="viewLogo(user.expandLogo)"
                  >
                    View
                  </button>
                  <button
                    class="btn btn-success submit-button"
                    (click)="setLogo()"
                    [disabled]="!isFormValid()"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
