<app-page-header
  [title]="'Blog Detail'"
  [items]="[
    { title: 'Home', link: '/dashboard' },
    { title: 'Blog', link: '/blog' }
  ]"
  [active_item]="'Blog Detail'"
></app-page-header>

<!-- row -->
<div class="row">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div class="d-f-ai-c">
            <div class="avatar-list">
              <a
                href="javascript:void(0)"
                class="avatar avatar-sm rounded-circle cover-image"
              >
                <img
                  *ngIf="blog.profilePhoto"
                  class="media-object rounded-circle thumb-sm"
                  alt="64x64"
                  [src]="blog.profilePhoto" />
                <img
                  *ngIf="!blog.profilePhoto"
                  class="media-object rounded-circle thumb-sm"
                  alt="64x64"
                  src="./assets/images/faces/default-profile-icon.jpg"
              /></a>
            </div>
            <h6 class="mb-0 text-muted ms-1 text-13">
              {{ blog.createdByUserName }}
            </h6>
            <a href="javascript:void(0)" class="d-f-ai-c mx-4 text-13"
              ><span class="fe fe-calendar text-muted me-1 text-15"></span
              ><span class="mt-0 mt-0 text-muted">{{
                blog.createdDateTime | date: constants.DATE_FORMAT
              }}</span></a
            >
            <a href="javascript:void(0)" class="me-0 d-f-ai-c text-13"
              ><span class="fe fe-message-square text-muted me-1 text-15"></span
              ><span class="mt-0 mt-0 text-muted"
                >{{ blogCommentCount }}
                {{ blogCommentCount > 1 ? "Comments" : "Comment" }}</span
              ></a
            >
          </div>
          <div>
            <h1 class="font-weight-normal text-dark-light mt-4 mb-4">
              {{ blog.blogTitle }}
            </h1>
          </div>
          <div class="p-1 bg-light br-5" *ngIf="blog.blogImageName">
            <img
              [src]="blog.blogImageName"
              alt="img"
              class="cover-image br-5 ms-auto me-auto wp-100"
            />
          </div>
        </div>
        <div class="mb-2 mt-5 content">
          <p class="text-muted text-14" [innerHTML]="blog.blogContents"></p>
        </div>
        <div class="mt-4 pt-5 border-top">
          <ng-container *ngIf="comments && comments.length > 0">
            <h3 class="card-title">Comments:</h3>
            <div
              *ngFor="let eachComment of comments"
              class="media mb-4 overflow-visible"
              [id]="'comment' + eachComment.blogCommentId"
            >
              <div class="me-3">
                <a>
                  <img
                    *ngIf="eachComment.profilePhoto"
                    class="media-object rounded-circle thumb-sm"
                    alt="64x64"
                    [src]="eachComment.profilePhoto"
                  />
                  <img
                    *ngIf="!eachComment.profilePhoto"
                    class="media-object rounded-circle thumb-sm"
                    alt="64x64"
                    src="./assets/images/faces/default-profile-icon.jpg"
                  />
                </a>
              </div>
              <div class="media-body overflow-visible">
                <div class="border mb-5 p-4 br-5">
                  <nav
                    *ngIf="user.userId === eachComment.userId"
                    class="nav float-end"
                  >
                    <div ngbDropdown>
                      <a
                        class="nav-link text-muted fs-16 p-0 ps-4 no-caret"
                        href="javascript:;"
                        ngbDropdownToggle
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        ><i class="fe fe-more-vertical"></i
                      ></a>
                      <div ngbDropdownMenu class="dropdown-menu-start">
                        <a
                          ngbDropdownItem
                          href="javascript:void(0)"
                          (click)="editComment(eachComment, commentTextArea)"
                          ><i class="fe fe-edit me-1"></i> Edit</a
                        >
                        <a
                          ngbDropdownItem
                          href="javascript:void(0)"
                          (click)="deleteComment(eachComment.blogCommentId)"
                          ><i class="fe fe-trash-2 me-1"></i> Delete</a
                        >
                      </div>
                    </div>
                  </nav>
                  <h5 class="mt-0">
                    {{ eachComment.createdByUserName }}
                    <span class="text-muted fs-12 ms-1">{{
                      eachComment.createdDateTime | dateAgo
                    }}</span>
                  </h5>
                  <span><i class="fe fe-thumb-up text-danger"></i></span>
                  <p class="font-13 text-muted">
                    {{ eachComment.comment }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="row row-xs form-group-wrapper">
            <h3 class="card-title">Comment here:</h3>
            <div class="col-md-12 mt-2">
              <div class="main-form-group">
                <textarea
                  #commentTextArea
                  name="message"
                  id="message"
                  class="form-control text-area border-0"
                  placeholder="Message"
                  [(ngModel)]="commentText"
                  rows="3"
                ></textarea>
                <label for="message" class="form-label mb-1">Message</label>
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <button
                *ngIf="!isCommentEdit"
                mat-button
                mat-flat-button
                color="warn"
                class="btn text-white float-end my-2"
                (click)="addComment()"
              >
                Submit
              </button>
              <button
                *ngIf="isCommentEdit"
                mat-button
                mat-flat-button
                color="warn"
                class="btn text-white float-end my-2"
                (click)="updateComment()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-12">
    <!--card-->
    <app-blog-sidebar></app-blog-sidebar>
    <!--card closed-->
  </div>
</div>
<!-- /row -->
