.blog-image {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  border-radius: 0px;
  height: 400px;
}
iframe {
  height: 400px;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
