<!-- PAGE -->
<div class="page">
  <div>
    <!-- CONTAINER OPEN -->
    <div class="col col-login mx-auto text-center">
      <a routerLink="/" class="text-center">
        <img
          src="./assets/images/brand/logo.png"
          class="header-brand-img"
          alt=""
        />
      </a>
    </div>
    <div class="container-login100">
      <div class="wrap-login100 p-0">
        <div class="card-body">
          <div *ngIf="!isVerified">Please wait while we verify the link.</div>
          <form
            class="login100-form validate-form"
            [formGroup]="resetForm"
            *ngIf="isVerified"
          >
            <span class="login100-form-title"> Reset Password </span>
            <div class="wrap-input100 validate-input">
              <input
                class="input100"
                type="password"
                formControlName="tempPassword"
                placeholder="Temporary Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="zmdi zmdi-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div
              *ngIf="hasError('tempPassword', 'required')"
              class="text text-danger mt-1"
            >
              Temporary Password is required
            </div>
            <div class="wrap-input100 validate-input">
              <input
                class="input100"
                type="password"
                formControlName="password"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="zmdi zmdi-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div
              *ngIf="hasError('password', 'required')"
              class="text text-danger mt-1"
            >
              Password is required
            </div>
            <div
              *ngIf="hasError('password', 'minlength')"
              class="text text-danger mt-1"
            >
              Password should contain 8 letters.
            </div>
            <div
              *ngIf="hasError('password', 'pattern')"
              class="text text-danger mt-1"
            >
              Password should contain one Capital letter and one small letter.
            </div>
            <div class="wrap-input100 validate-input">
              <input
                class="input100"
                type="password"
                formControlName="confirmPass"
                placeholder="Confirm Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="zmdi zmdi-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div
              *ngIf="hasError('confirmPass', 'required')"
              class="text text-danger mt-1"
            >
              Confirm Password is required
            </div>
            <div
              *ngIf="hasError('confirmPass', 'mustMatch')"
              class="text text-danger mt-1"
            >
              Confirm Password should be same as Password
            </div>
            <div class="container-login100-form-btn">
              <button
                [disabled]="!resetForm.valid"
                class="btn btn-primary btn-block"
                (click)="submit()"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- CONTAINER CLOSED -->
  </div>
</div>
<!-- END PAGE -->
