<h1 mat-dialog-title>
  <strong>Update Role</strong>
</h1>
<div mat-dialog-content>
  <form class="login100-form validate-form" [formGroup]="roleForm">
    <div class="wrap-input100 validate-input">
      <mat-select
        class="input100"
        placeholder="Role"
        formControlName="roleId"
      >
        <mat-option
          *ngFor="let eachRole of userRoles"
          [value]="eachRole.roleId"
          >{{ eachRole.roleName }}</mat-option
        >
      </mat-select>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-dedent" aria-hidden="true"></i>
      </span>
    </div>
    <div *ngIf="hasError('roleId', 'required')" class="text text-danger mt-1">
      User Role is required
    </div>
  </form>
</div>
<div mat-dialog-actions class="float-end">
  <button
    mat-button
    [disabled]="!roleForm.valid"
    (click)="updateRole()"
    mat-flat-button
    color="warn"
  >
    Update
  </button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>
