// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// ng select 
@import "~@ng-select/ng-select/themes/default.theme.css";
// ngx-quill
@import '~quill/dist/quill.snow.css';
// chartist
@import "~chartist/dist/chartist.css";

// leaflet 
@import "~leaflet/dist/leaflet.css";

// intl-tel-input
@import "~intl-tel-input/build/css/intlTelInput.css";

// Full calendar
@import "~angular-calendar/scss/angular-calendar.scss";

// @import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// ngx bar rating
@import "../node_modules/ngx-bar-rating/themes/br-default-theme.scss";
@import '../node_modules/ngx-bar-rating/themes/br-horizontal-theme.scss';
@import '../node_modules/ngx-bar-rating/themes/br-vertical-theme.scss';
@import '../node_modules/ngx-bar-rating/themes/br-movie-theme.scss';
@import '../node_modules/ngx-bar-rating/themes/br-square-theme.scss';
// ngx toastr
@import '~ngx-toastr/toastr';

// custom css file
@import "./assets/css/style.css";
@import "./assets/css/skin-modes.css";
@import "./assets/css/icons.css";
// switcher
@import "./assets/switcher/css/switcher.css";
@import "./assets/switcher/demo.css";


.badge.bg-secondary {
  background-color: #e984b1 !important;
}

.main-sidemenu>ul {
  padding: 0 !important;
}

.side-menu__item {
  line-height: 1;
}

.ng-select-container {
  background-color: transparent !important;
  border-color: #e8e8f7 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: #fff !important;
  background-color: var(--primary-bg-color) !important;
  padding: 0.25rem 0.5rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #fff;
  background-color: var(--primary-bg-color) !important;
}

mat-form-field .mat-form-field-label-wrapper {
  border: 1px solid #eaedf1;
  border-radius: 0.25rem;
  padding-block: 0.2rem;
}

.mat-select-panel {
  background-color: #fff;
}

mat-option.mat-selected {
  background-color: var(--primary-bg-color);
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  outline: none;
  box-shadow: none !important;
}

.dark-mode {

  .ng-placeholder,
  .ng-select .ng-clear-wrapper {
    color: #fff !important;
  }

  .ng-select-container {
    border-color: var(--dark-border) !important;
    color: #fff !important;

  }

  .ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    border-color: transparent transparent #fff;
  }

  .ng-select>.ng-select-container .ng-arrow {
    border-color: #fff transparent transparent;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--dark-body);
    color: #fff;
  }

  .ng-dropdown-panel {
    background-color: var(--dark-body);
    border: 1px solid var(--dark-border);
  }

}

.table td {
  padding: 0.55rem !important;
}

.was-validated .form-control:valid+.invalid-feedback,
.form-control.is-valid,
.invalid-feedback input.form-control.parsley-success,
.invalid-feedback textarea.form-control.parsley-success+.invalid-feedback {
  display: block !important;
}

// table sort arrows
th[sortable].desc:before,
th[sortable].asc:before {
  content: '';
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC) no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}


ngx-dropzone,
.custom-dropzone {
  border: 1px solid #eaedf1 !important;
}

.tel-input-element {
  border: none !important;
}

.floating .tel-input-element {
  border: 1px solid #60626a !important;
  outline: none;
}

.mat-form-field .mat-form-field-label-wrapper {
  border: none !important;
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary-bg-color) !important;
}

.mat-calendar-body-selected {
  background-color: var(--primary-bg-color);
}

.mat-calendar-body-in-range::before {
  background: var(--primary02);
}

@media (hover: hover) {
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: var(--primary03);
  }
}

// Angular material Dark mode 
.dark-mode {
  .mat-card {
    background: transparent !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important;
  }

  .mat-form-field-label {
    color: #ccc;
  }

  .mat-checkbox-frame {
    border-color: rgb(255 255 255 / 54%);
  }

  .tel-input-element {
    background: transparent;
    border: none !important;
    color: #ffff;
  }

  .mat-hint {
    color: #ccc;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    background-color: var(--dark-body);
    color: #ccc;
  }

  .mat-select-value {
    color: #ccc;
  }

  .mat-select-arrow {
    color: #ccc;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--dark-border);
  }

  .mat-pseudo-checkbox {
    color: #999;
  }

  mat-form-field .mat-form-field-label-wrapper {
    border: 1px solid var(--dark-border);
  }

  .mat-input-element::placeholder {
    color: #eee !important;
  }


  .mat-select-panel,
  mat-option {
    background-color: var(--dark-body) !important;
  }

  .mat-option {
    color: #ccc;
  }

  .mat-option.mat-option-disabled {
    color: rgba(255, 255, 255, 0.3)
  }

  .mat-optgroup-label {
    color: rgba(235, 235, 235, 0.54);
  }

  .mat-datepicker-content {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: var(--dark-body);
    color: #fff;
  }

  .mat-calendar-body-cell-content,
  .mat-date-range-input-separator {
    color: #ccc;
    border-color: transparent;
  }

  .mat-calendar-table-header,
  .mat-calendar-body-label {
    color: #cccc;
  }

  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: #ccc;
  }

  .ngb-dp-header,
  .ngb-dp-weekdays {
    background-color: var(--dark-body);
  }


  ngx-dropzone,
  .custom-dropzone {
    background: var(--dark-bg);
    color: #eee;
    border: 1px solid var(--dark-border) !important;
  }

  // form wizard
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: transparent;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: #ddd;
  }

  .mat-step-header .mat-step-label,
  .mat-step-header .mat-step-optional {
    color: #aaa;
  }

  // material table
  .mat-table {
    background: transparent;
  }

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: var(--dark-border);
  }

  .mat-header-cell {
    color: #fff;
  }

  .mat-cell,
  .mat-footer-cell {
    color: #bbb;
  }

  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger {
    color: #fff;
  }

  .mat-paginator {
    background: transparent;
  }

  //mat dialog container
  .mat-dialog-container {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    background: var(--dark-body);
    color: #fff;
  }

  //sweet alerts
  .swal2-popup {
    background: var(--dark-body);
    color: #fff;
  }
}


.modal-backdrop {
  z-index: 999 !important;
}

button.close {
  box-sizing: content-box;
  border: none;
  background: transparent;
  font-size: 1.40625rem;
}

//Mat dort arrow position
.mat-sort-header-arrow,
[dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 auto !important;
}

.mat-sort-header-position-before .mat-sort-header-arrow,
[dir=rtl] .mat-sort-header-arrow {
  margin: 0 auto 0 0 !important;
}

.ng-select {
  min-width: 80px;
}

.pagination {
  flex-wrap: wrap;
}

//@at-root
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(234 237 241);
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: var(--primary-bg-color);
}


[dir=rtl] th.mat-header-cell:last-of-type:not(:only-of-type),
[dir=rtl] td.mat-cell:last-of-type:not(:only-of-type),
[dir=rtl] td.mat-footer-cell:last-of-type:not(:only-of-type) {
  padding-right: 24px !important;
}

[dir=rtl] th.mat-header-cell:first-of-type:not(:only-of-type),
[dir=rtl] td.mat-cell:first-of-type:not(:only-of-type),
[dir=rtl] td.mat-footer-cell:first-of-type:not(:only-of-type) {
  padding-left: 24px !important;
}

.dark-mode {
  .mat-sort-header-arrow {
    color: #ccc !important;
  }
}

@media screen and (max-width: 991.9px) {
  .horizontal .page-header {
    margin-top: 70px;
  }
}

.gradient-menu,
.color-menu {
  .side-menu__item.active i {
    color: #fff !important;
  }
}

[dir=rtl] .mat-calendar-previous-button,
[dir=rtl] .mat-calendar-next-button {
  transform: rotate(0deg) !important;
}

.rtl {
  [title="Previous month"] .ngb-dp-navigation-chevron {
    transform: rotate(45deg);
  }

  .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
    transform: rotate(223deg);
  }
}

[ngbDatepickerDayView] {
  border-radius: 0 !important;
}

.dark-mode {
  .ng-dropdown-header {
    input {
      background-color: var(--dark-body);
      color: #fff;
      border: 1px solid var(--dark-border);
      padding: 0 0.25rem;
      border-radius: 0.25rem;
    }

    border-bottom: 1px solid var(--dark-border);
  }

  .nav-link.disabled {
    color: #80878e;
  }
}


.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: var(--primary-bg-color)
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: var(--primary-bg-color);
}

.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title,
.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description {
  color: rgba(255, 255, 255, .5);
}

.dark-mode {
  .accordion-button::after {
    filter: invert(1);
  }
}

@media screen and (max-width:767.98px) {
  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    height: auto;
    .mat-content {
      flex-direction: column;
      > *{
        margin-block: 0.5rem;
      }
    }
  }
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
  background: var(--primary-bg-color);
}
mat-option.mat-selected{
  background-color: transparent !important;
}