<app-page-header [title]="'Pricing'" [items]="['Pages']" [active_item]="'Pricing'"></app-page-header>
<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header border-bottom">
        <div class="card-header d-block text-justified pt-2">
          <p class="text-18 font-weight-semibold mb-1">{{subPlans.subscriptionName}}</p>
          <p class="text-justify font-weight-semibold mb-1">
            <span class="text-30 me-2">$</span><span class="text-30 me-1">{{subPlans.subscriptionPrice}}</span><span
              class="text-24"><span class="op-0-5 text-muted text-20">/</span> {{subPlans.durationMonth ? 'Month' :
              'Year'}}</span>
          </p>
          <p class="text-13 mb-1 text-warning font-weight-">
            Billed monthly on regular basis!
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="card-pay">

          <div class="tab-content">
            <form (ngSubmit)="pay(form.form)" #form="ngForm">
              <div ngbnavpane="" class="tab-pane fade show active" id="ngb-nav-0-panel" role="tabpanel"
                aria-labelledby="ngb-nav-0">
                <div role="alert" class="bg-danger-transparent-2 text-danger br-3 mb-4">Please
                  Enter
                  Valid Details</div>
                <div class="form-group"><label class="form-label">Card
                    Holder
                    Name</label>
                  <input type="text" placeholder="First Name" class="form-control" name="holder_name"
                    [(ngModel)]="formObj.holder_name">
                </div>
                <div class="form-group"><label class="form-label">Card
                    number</label>

                  <div class="input-group">
                    <input type="text" placeholder="Card number" class="form-control" name="card_number"
                      [(ngModel)]="formObj.card_number">
                    <span class="input-group-text btn btn-success shadow-none"><i class="fa fa-cc-visa"></i> &nbsp; <i
                        class="fa fa-cc-amex"></i> &nbsp; <i class="fa fa-cc-mastercard"></i></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group"><label class="form-label">Expiration</label>
                      <div class="input-group">
                        <input type="number" placeholder="MM" class="form-control" maxlength="2" name="month"
                          [(ngModel)]="formObj.month">
                        <input type="number" placeholder="YYYY" name="year" class="form-control" maxlength="2"
                          [(ngModel)]="formObj.year">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"><label class="form-label">CVV <i class="fa fa-question-circle"></i></label>
                      <input type="number" required="" class="form-control" name="cvv" [(ngModel)]="formObj.cvv">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Pay</button>
                <!---->
              </div>
            </form>

            <!---->
            <!---->
            <!---->
            <!---->
          </div>
        </div>
      </div>
    </div>
    <div class="card p-3 pricing-card">
      <div class="card-header d-block text-justified pt-2">
        <p class="text-18 font-weight-semibold mb-1">{{subPlans.subscriptionName}}</p>
        <p class="text-justify font-weight-semibold mb-1">
          <span class="text-30 me-2">$</span><span class="text-30 me-1">{{subPlans.subscriptionPrice}}</span><span
            class="text-24"><span class="op-0-5 text-muted text-20">/</span> {{subPlans.durationMonth ? 'Month' :
            'Year'}}</span>
        </p>
        <p class="text-13 mb-1 text-warning font-weight-">
          Billed monthly on regular basis!
        </p>
      </div>
      <div class="card-footer text-center border-top-0 pt-1">
        <!-- (click)="subscriptionPay(subPlans.subscriptionId)" -->
        <button class="btn btn-lg btn-outline-warning btn-block"
          (click)="makePaymentstripe(subPlans.subscriptionPrice)">
          <span class="ms-4 me-4">Pay</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--/row-->