.video {
  width: 100%;
  height: 100%;
}
.doc-viewer {
  width: 100%;
  height: 100%;
}
.image {
  height: 100%;
}
.mat-dialog-content {
  max-height: 85vh !important;
}

.pdf_view {
  height: 100vh !important;
}
